<div id="score" class="text-center">
  <h3>******** Now your result ********</h3>
  <p><%= @result[1] %></p>
  <p>Your word : <%= params[:query] %> </p>
  <p>Time taken to answer: </p>
  <p>Your score: <%= @result[0] %></p>
  <h3>************************************</h3>
</div>
